.task__item-text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  word-wrap: break-word;
}

@media screen and (max-width: 700px) {
  .task__item-text {
    font-size: 10px;
  }
}
