.task__textarea {
  margin: 0 0 0 20px;
  padding: 10px 20px;
  border: none;
  resize: none;
  width: 100%;
  min-height: 70px;
  background: #acacac;
  border-radius: 14px;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 700px) {
  .task__textarea {
    padding: 5px 10px;
    min-height: 40px;
    font-size: 10px;
  }
  .task__textarea::placeholder {
    font-size: 10px;
  }
}
