.task__add-btn {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  transition: opacity 0.2s;
}

.task__add-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
