.task__list-option {
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  min-height: 50px;
  background: #1f1e1e;
  border-radius: 14px;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .task__list-option {
    font-size: 10px;
  }
}
