@keyframes flashing-border {
  to {
    border: 2px solid none;
  }
  from {
    border: 2px solid #d17e18;
  }
}

.task__list-item_type_edit {
  animation: 1s linear 0s infinite alternate-reverse flashing-border;
}
