.group__list {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
}

@media screen and (max-height: 650px) {
  .group__list {

  }
}
